// app global css in SCSS form
// app global css in SCSS form
@font-face {
  font-family: iranyekan-black;
  src: url(./fonts/IRANYekanWebBlack.woff);
}
@font-face {
  font-family: iranyekan-bold;
  src: url(./fonts/IRANYekanWebBold.woff);
}
@font-face {
  font-family: iranyekan-extra-black;
  src: url(./fonts/IRANYekanWebExtraBlack.woff);
}
@font-face {
  font-family: iranyekan-extra-bold;
  src: url(./fonts/IRANYekanWebExtraBold.woff);
}
@font-face {
  font-family: iranyekan-light;
  src: url(./fonts/IRANYekanWebLight.woff);
}
@font-face {
  font-family: iranyekan-medium;
  src: url(./fonts/IRANYekanWebMedium.woff);
}
@font-face {
  font-family: iranyekan;
  src: url(./fonts/IRANYekanWebRegular.woff);
}
@font-face {
  font-family: iranyekan-thin;
  src: url(./fonts/IRANYekanWebThin.woff);
}
.iranyekan {
  font-family: 'iranyekan';
}
html,
body,
p,
span,
div {
  font-family: 'iranyekan';
}
$xs-breakpoint: 718px;
$sm-breakpoint: 1024px;
$md-breakpoint: 1439px;
$lg-breakpoint: 1920px;

.container,
.container-sm,
.container-md,
.container-lg,
.container-xl {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
#main-carousel {
  height: 60vw;
}

@media (min-width: $xs-breakpoint) {
  .container,
  .container-sm {
    max-width: 540px;
  }
  #main-carousel {
    height: 35vw;
  }
}

@media (min-width: $sm-breakpoint) {
  .container,
  .container-sm,
  .container-md {
    max-width: 920px;
  }
  #main-carousel {
    height: 30vw;
  }
}

@media (min-width: $md-breakpoint) {
  .container,
  .container-sm,
  .container-md,
  .container-lg {
    max-width: 1140px;
  }
  #main-carousel {
    height: 40vw;
  }
}

@media (min-width: $lg-breakpoint) {
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    max-width: 1440px;
  }
  #main-carousel {
    height: 30vw;
  }
}

.loading {
  background-color: white;
}
.product-desc {
  img {
    width: 100%;
  }
  figure {
    margin: 0;
  }
  p {
    text-align: justify;
  }
}
.product-specs {
  table {
    border-collapse: collapse;
    text-align: left;
    width: 100%;
    p {
      margin: 0;
    }
  }

  tr {
    border-bottom: 1px solid #ccc;
  }

  th,
  td {
    padding: 10px;
    vertical-align: middle;
  }
}
.image-popup-carousel {
  width: 1000px;
  height: 100%;
  max-width: 90vw;
}

@function fluid-font-size(
  $minimumSize: 12,
  $maximumSize: 36,
  $minimumViewportWidth: 300,
  $maximumViewportWidth: 1600
) {
  $fontSize: unquote(
    'calc(#{$minimumSize}px + (#{$maximumSize} - #{$minimumSize}) * ((100vw - #{$minimumViewportWidth}px) / (#{$maximumViewportWidth} - #{$minimumViewportWidth})))'
  );
  @return $fontSize;
}

@for $num from 8 to 28 {
  .fontsize-#{$num} {
    font-size: fluid-font-size($num, ($num * 1.5), 300, 1600);
  }
}

.catalog-header {
  clip-path: polygon(5% 0%, 100% 0%, 100% 100%, 0% 100%);
}
.product-card-separator {
  margin: 3px 0;
}
